<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FDGDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88D9519D1E7D631E0011CBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D951B61E7D631F0011CBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88D951C11E7D631F0011CBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
